	.navbar {
	border-radius: 0;
	} 
	#active a {
		color: white;
	}
	#home {
		color: #39b54a;
	}
	.text-center {
		word-wrap: break-word;
	}
	.glyphicon {
		color: #39b54a;
	}
	#nav1toggle {
		border:1px solid #61d76c;
		background-color: #39b54a;
	}
	#nav1toggle:hover {
		background-color: #61d76c;
	}
