.content-r .sidebar.right,
	.content-lr .sidebar.right,
	.content-r2	.sidebar.right {
		margin-left:3px;
	}
	.content-l .sidebar.left,
	.content-lr .sidebar.left,
	.content-l2 .sidebar.left 
	{
		margin-right:3px;
	}
	
	#logo {
		position:absolute;
		left:0;
		top:67px;
	}
	.menusearch {
		float:left;
		margin-top:6px;
		width:260px;
		height:26px;
	}
	.searchform {
		height:26px;
		
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:159px;
		position:relative;
		z-index:11;
		
	}
	#menu-box {
	
	}
	#secondarymenu {
		float:right;
		margin-top:12px;
	}
	#secondarymenu li {
		margin-right:5px;
	}
	#secondarymenu a {
		color:#dcdcdc;
		text-decoration:none;
		padding:10px;
		display:block;
		font-size:12px;
	}
	#secondarymenu a:hover{
		color:#fff;
	}
	#mainmenu-container {
		height:73px;
		background:url(../images/header.png) left top repeat;
	}
	#mainmenu {
	}
	#mainmenu li a {
		min-width:138px;
		text-align:center;
		color:#fff;
		display:block;
		text-decoration:none;
		font-size:18px;
		font-family: 'Dosis', sans-serif;
		padding:25px 10px;
	}
	#mainmenu li ul li {
		background:none !important;
	}
	#mainmenu li, #mainmenu li .inner {
		background-image: linear-gradient(bottom, rgb(0,173,221) 0%, rgb(0,208,235) 100%);
		background-image: -o-linear-gradient(bottom, rgb(0,173,221) 0%, rgb(0,208,235) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(0,173,221) 0%, rgb(0,208,235) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,173,221) 0%, rgb(0,208,235) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(0,173,221) 0%, rgb(0,208,235) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(0,173,221)),	color-stop(1, rgb(0,208,235)));	margin-right:2px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#00ADDD, endColorstr=#00D0EB,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:first-child + * {
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#E55F20, endColorstr=#EF842D,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:nth-child(2n),#mainmenu li:nth-child(2n) .inner {
		background-image: linear-gradient(bottom, rgb(229,95,32) 0%, rgb(239,132,45) 100%);
		background-image: -o-linear-gradient(bottom, rgb(229,95,32) 0%, rgb(239,132,45) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(229,95,32) 0%, rgb(239,132,45) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(229,95,32) 0%, rgb(239,132,45) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(229,95,32) 0%, rgb(239,132,45) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(229,95,32)),	color-stop(1, rgb(239,132,45)));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#E55F20, endColorstr=#EF842D,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:first-child + * + *{
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#00BB5E, endColorstr=#00D680,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:nth-child(3n), #mainmenu li:nth-child(3n) .inner {
		background-image: linear-gradient(bottom, rgb(0,187,94) 0%, rgb(0,214,128) 100%);
		background-image: -o-linear-gradient(bottom, rgb(0,187,94) 0%, rgb(0,214,128) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(0,187,94) 0%, rgb(0,214,128) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,187,94) 0%, rgb(0,214,128) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(0,187,94) 0%, rgb(0,214,128) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(0,187,94)),	color-stop(1, rgb(0,214,128)));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#00BB5E, endColorstr=#00D680,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:first-child + * + * + *{
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#C22847, endColorstr=#DA3866,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:nth-child(4n), #mainmenu li:nth-child(4n) .inner {
		background-image: linear-gradient(bottom, rgb(194,40,71) 0%, rgb(218,56,102) 100%);
		background-image: -o-linear-gradient(bottom, rgb(194,40,71) 0%, rgb(218,56,102) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(194,40,71) 0%, rgb(218,56,102) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(194,40,71) 0%, rgb(218,56,102) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(194,40,71) 0%, rgb(218,56,102) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(194,40,71)),	color-stop(1, rgb(218,56,102)));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#C22847, endColorstr=#DA3866,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:first-child + * + * + * + *{
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#DC8418, endColorstr=#EAB522,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:nth-child(5n), #mainmenu li:nth-child(5n) .inner {
		background-image: linear-gradient(bottom, rgb(220,132,24) 0%, rgb(234,181,34) 100%);
		background-image: -o-linear-gradient(bottom, rgb(220,132,24) 0%, rgb(234,181,34) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(220,132,24) 0%, rgb(234,181,34) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(220,132,24) 0%, rgb(234,181,34) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(220,132,24) 0%, rgb(234,181,34) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(220,132,24)),	color-stop(1, rgb(234,181,34)));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#DC8418, endColorstr=#EAB522,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:first-child + * + * + * + * + *{
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#0B4D84, endColorstr=#0F6DB5,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu li:nth-child(6n), #mainmenu li:nth-child(6n) .inner {
		background-image: linear-gradient(bottom, rgb(11,77,132) 0%, rgb(15,109,181) 100%);
		background-image: -o-linear-gradient(bottom, rgb(11,77,132) 0%, rgb(15,109,181) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(11,77,132) 0%, rgb(15,109,181) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(11,77,132) 0%, rgb(15,109,181) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(11,77,132) 0%, rgb(15,109,181) 100%);
		background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0, rgb(11,77,132)),	color-stop(1, rgb(15,109,181)));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#0B4D84, endColorstr=#0F6DB5,GradientType=0 ); /* IE6-9 */
	}
	#mainmenu a:hover{
		text-decoration:underline;
	}
	#header li ul {
		top:39px;
	}
	#mainmenu li ul {
		top:72px;
		left:0%;
	}


	
	#header li ul .inner {
		background:url(../images/header.png) left top repeat;
	}
	#header ul.children li a, .sub-menu li a {
		color:#fff !important;
		padding:0 !important;
		background:none;
	}
	#header ul.children li a:hover, .sub-menu li a:hover {
		color:#ced6dc;
		box-shadow:none;
		border:none !important;
		text-decoration:underline !important;
	}
	
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {
		margin:4px 0;
	}
	.slider {
		position:relative;
		width:980px;
		margin:0 auto;
		padding:10px;
		background:#453160;
	}
	.fp-prev-next-wrap {
		margin: 1px;
	}
	.fp-prev,.fp-next {
		margin:0 10px;
		margin-top:-24px;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		height:350px;
	width:980px;
	}
	.fp-content-fon {
		border-bottom:none;
		border-left:none;
		border-right:none;
	}
	.fp-content-fon, .fp-content {	
		left:0;
		right:0;
		bottom:0;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	.fp-nav {
		bottom:25px;
		right:30px;
		left:auto;
	}